.home-header {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
}

.home-header-inner {
    max-width: 800px;
    margin: 0 auto;
}

.home-water {
    height: 1em;
}

.home-list {
    position: relative;
    padding-left: 150px;
    padding-right: 150px;
}

.home-title {
    color: #333333;
    font-size: 36px;
    text-align: center;
}

.home-blog-title {
    color: #333333;
    font-size: 48px;
    text-align: center;
}

.home-post-icon {
    position: absolute;
    fill:#B1A7A7;
    height: 36px;
    width: 36px;
    top: 20px;
    left: 20px;
}

.home-post-title {
    position: absolute;
    font-size: 36px;
    color: black;
    left: 80px;
    top: 0px;
}

.home-post-vertical-line {
    position: absolute;
    width: 1px;
    height: 14px;
    background-color: #B1A7A7;
    top: 55px;
    left: 55px;
}

.home-post-horizontal-line {
    position: absolute;
    width: 800px;
    height: 1px;
    background-color: #B1A7A7;
    top: 55px;
    left: 55px;
}

.home-post-list {
    position: relative;
    height: 150px;
}

.home-link {
    color: black;
    font-size: 36px;
    text-decoration: none;
}

.home-footer {
    text-align: center;
}
