.feat {
    text-align: center;
    border-bottom: 1px solid #979797;
    margin: 0 64px 3.5em;
  }

  .page-date {
    color: #6A4E64;
    display: inline-block;
    position: relative;
    top: 2.35em;
    background: white;
    font-size: 32px;
    text-align: center;
    font-weight: normal;
    padding: 0 1em;
    text-transform: none;
    letter-spacing: 1px;
  }

.page-content {
  padding-left: 100px;
  padding-right: 100px;

  p {
    font-size: 24px;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #614321;
  }
}
