.home-header {
    background-size: cover;
    height: 800px;
}

.home-water {
    height: 58px;
    width: 58px;
    vertical-align: middle;
}

// .home-center {
//     margin:auto;
// }

.home-title {
    color: white;
    font-size: 36px;
    text-align: center;
    padding-top: 400px;
}

.home-blog-title {
    color: white;
    font-size: 48px;
    text-align: center;
    vertical-align: middle;
}

.home-post-icon {
    fill:#B1A7A7;
    // height: 36px;
    width: 36px;
    float: left;
    padding: 36px 0;
}

.home-post-title {
    font-size: 36px;
    color: black;
    vertical-align: middle;
}

.home-post-list {
    height: 100px;
}

.home-link {
    color: black;
    font-size: 36px;
    text-decoration: none;
}
