.home-header {
    background-size: cover;
    height: 800px;
}

.home-water {
    height: 58px;
    width: 58px;
    vertical-align: middle;
}

// .home-center {
//     margin:auto;
// }

.home-title {
    color: white;
    font-size: 36px;
    text-align: center;
    padding-top: 400px;
}

.home-blog-title {
    color: white;
    font-size: 48px;
    text-align: center;
    vertical-align: middle;
}

.home-post-icon {
    fill:#B1A7A7;
    // stroke-width:1;
    // stroke:#B1A7A7;
}

.home-link {
    color: black;
    font-size: 36px;
    text-decoration: none;
}
