// body { height: 100%; padding: 0; margin: 0; }
// .outer { height: 100%; padding: 100px 0 0; box-sizing: border-box ; position: relative; }
// .home-header { height: 800px; background: #BBE8F2; position: absolute; top: 0 ; left: 0 ; width: 100%; }

.home-header {
    height: 800px;
}

.home-water {
    height: 58px;
    width: 58px;
    vertical-align: middle;
}

// .home-center {
//     margin:auto;
// }

.home-title {
    color: white;
    font-size: 36px;
    text-align: center;
    padding-top: 400px;
}

.home-blog-title {
    color: white;
    font-size: 48px;
    text-align: center;
    vertical-align: middle;
}

.home-post-icon {
    fill:#B1A7A7;
    height: 36px;
    width: 36px;
    float: left;
    position: relative;
    top: 20px;
    // padding: 36px 0;
}

.home-post-title {
    font-size: 36px;
    color: black;
    position: relative;
    left: 15px;
    top: 0px;
}

.home-post-vertical-line {
    float: left;
    width: 1px;
    height: 14px;
    background-color: #B1A7A7;
    position: relative;
    top: 55px;
    left: -1px;
}

.home-post-horizontal-line {
    float: left;
    width: 800px;
    height: 1px;
    background-color: #B1A7A7;
    position: relative;
    top: 5px;
    left: 36px;
}

.home-post-list {
    height: 150px;
}

.home-link {
    color: black;
    font-size: 36px;
    text-decoration: none;
}
