{{ define "main" }}
<div class="home-container">
    <div class="home-svg" style="height: 190px;">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" height="190">
            <polyline points="125,151 272,151"
                      style="fill:#725B21;stroke:#725B21;stroke-width:1" />
            <polyline points="148,129 148,222"
                      style="fill:#725B21;stroke:#725B21;stroke-width:1" />
        </svg>
    </div>
    <div class="home-list">
        <ul>
           {{ range .Site.RegularPages }}
           <li class="home-post-list">
               <a href="{{ .RelPermalink }}" class="home-link">
                   <span class="home-post-icon"></span>
                   <span class="home-post-title">{{ .Title }}</span>
               </a>
           </li>
           {{ end }}
       </ul>
   </div>
</div>
{{ end }}
