{{ define "title" }}
  <!-- This will override the default value set in baseof.html; i.e., "{{.Site.Title}}" in the original example-->
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}
<div class="feat">
  <h5 class="page-date">
    {{ $dateTime := .PublishDate.Format "2006-01-02" }}
{{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
<i data-feather="calendar"></i>
<time datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time>
    </h5>
</div>

<!-- <svg xmlns="http://www.w3.org/2000/svg" version="1.1" height="120"> -->
<!-- <polyline points="50,70 200,70" -->
<!-- style="fill:#725B21;stroke:#725B21;stroke-width:1" /> -->
<!-- <polyline points="73,48 73,131" -->
<!-- style="fill:#725B21;stroke:#725B21;stroke-width:1" /> -->
<!-- </svg> -->

<div class="inner">
    {{ .Content }}
</div>
{{ end }}
