<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl| split: '/' | join:'/' }}/css/main.css" />
    </head>
    <body>
        <!--[if lt IE 7]>
                  <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
              <![endif]-->

        <header class="home-header" style="background-image: url('{{ site.baseurl }}/assets/home/header_background.png');height: 800px;">
            <div>
                <h1 class="home-title">P E R S O N A L   B L O G</h1>
            </div>
            <div>
                <h1 class="home-blog-title">薛定谔的<img class="home-water" src="{{ site.baseurl }}/assets/home/water.png"  alt="水滴"/>货</h1>  
            </div>
        </header>

        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" height="190">
            <polygon points="125,151 272,151"
            style="fill:#725B21;stroke:#725B21;stroke-width:1" />
            <polygon points="148,129 148,222"
            style="fill:#725B21;stroke:#725B21;stroke-width:1" />
        </svg>

        <div>
            
            {{ content }}
        </div>

        <script type="text/javascript">
            function ran_col() { //function name
                var icons = document.getElementsByClassName('home-post-icon');
                var lisLen = icons.length;
        
                for(var i = 0;i < lisLen;i++){
                    var color = '#'; // hexadecimal starting symbol
                    var letters = ['9F8661','5D5596','9AB0A2']; //Set your colors here
                    color += letters[Math.floor(Math.random() * letters.length)];
                    icons[i].style.fill = color;
                    icons[i].style.stroke = color;
                } 
            }
        </script>

        <button type="button" onclick="ran_col()">点击这里</button>

    </body>
</html>
